:root
{
    /* Colors */
    --white: white;
	--orange_guitar: #FF6428;
	--black_guitar: #121212;
	--gray_guitar: #666666;
	--gray-dark_guitar: #A4A4A4;

}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    
}

.guitar-cabecera
{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px 500px;
}

.cabecera-logo-nav
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}

.cabecera-logo-nav__logo
{  
    width: 130px;
    height: 50px;
    background-image: url(/assets/icons/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cabecera-logo-nav__nav
{
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.cabecera-logo-nav__item
{
    font-size: 1.4rem;
    list-style: none;
}

.cabecera-logo-nav__item a
{
    text-decoration: none;
    color: var(--black_guitar);
}

.cabecera-image
{
    position: relative;
    width: 100%;
    display: flex;        
    justify-content: right;     
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.cabecera-image__img
{ 
    width: 100%;
    height: 100%;     
    max-width: 600px;
    background-image: url(/assets/images/poster.png);
    background-repeat: no-repeat;
    background-position: start;
    background-size: contain;
    
}

.cabecera-introduccion
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.cabecera-introduccion-div
{
    width: 80%;    
}

.cabecera-introduccion__title
{
    font-family: 'Quicksand', sans-serif;
    font-size: 4.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.orange
{
    color: var(--orange_guitar);
}

.cabecera-introduccion__parrafo
{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.cabecera-introduccion-btns
{
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introduccion-btns__get-app
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: var(--orange_guitar);
    text-decoration: none;
    font-size: 1.2rem;    
    color: var(--white);
    border-radius: 30px;
}

.introduccion-btns__get-play
{
    width: 30px;
    height: 30px;         
    background-image: url(/assets/icons/apple-google/playstore.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.introduccion-btns__get-apple
{
    width: 30px;
    height: 30px;         
    background-image: url(/assets/icons/apple-google/Apple-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.guitar-principal
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.principal_guitarrs
{
    width: 100%;
    display: grid;
    grid-template-rows: 60px 40px 220px 20px 220px;  
    justify-content: center;  
    margin-bottom: 30px;
}

.guitarrs-title
{
    font-size: 2.2rem;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.guitarrs_pestañas
{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.guitarrs-subTitle
{
    font-size: 1.4rem;
}

.guitarrs-viewAll
{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--gray-dark_guitar);

}

.guitarrs-grid
{    
    display: grid;
    grid-template-columns: repeat(3, 380px);  
    justify-items: center;
    margin-bottom: 30px;
}

.guitar-img
{
    width: 230px;
}

.guitar_title
{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black_guitar);
    margin-bottom: 8px;
}

.guitar_price
{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray_guitar);
}

.principal_cards
{
    width: 80%;
    height: 350px;
    display: grid;
    grid-template-rows: 90px 200px;
    
}

.cards_guitarrs
{
    display: flex;
    justify-content: space-around;
}

.card_categories
{
    width: 180px;
    height: 240px;    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
}

.card_acusticas
{
    background-image: url(/assets/images/acusticas.jpg);
}

.card_electricas
{
    background-image: url(/assets/images/electricas.jpg);
}

.card_bajos
{
    background-image: url(/assets/images/bajos.jpg);
}

.card_colecciones
{
    background-image: url(/assets/images/colecciones.jpg);
}

.guitar-type
{   
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white);
}

.title-margin
{
    
}