:root
{
    /* Colors */
    --white: white;
	--orange_guitar: #FF6428;
	--black_guitar: #121212;
	--gray_guitar: #666666;
	--gray-dark_guitar: #A4A4A4;
    --gray-guitar-dark: #262626;

}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

}

body
{
    width: 100%;
}

.guitar-cabecera
{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px 500px;
}

.cabecera-logo-nav
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cabecera-logo-nav__logo
{
    width: 130px;
    height: 50px;
    background-image: url(/assets/icons/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.cabecera-logo-nav__nav
{
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.cabecera-logo-nav__item
{
    font-size: 1.4rem;
    list-style: none;
}

.cabecera-logo-nav__item a
{
    text-decoration: none;
    color: var(--black_guitar);
}

.cabecera-image
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.cabecera-image__img
{
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-image: url(/assets/images/poster.png);
    background-repeat: no-repeat;
    background-position: start;
    background-size: contain;

}

.cabecera-introduccion
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.cabecera-introduccion-div
{
    width: 80%;
}

.cabecera-introduccion__title
{
    font-family: 'Quicksand', sans-serif;
    font-size: 4.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.orange
{
    color: var(--orange_guitar);
}

.cabecera-introduccion__parrafo
{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.cabecera-introduccion-btns
{
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introduccion-btns__get-app
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: var(--orange_guitar);
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 30px;
}

.introduccion-btns__get-play
{
    width: 30px;
    height: 30px;
    background-image: url(/assets/icons/apple-google/playstore.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.introduccion-btns__get-apple
{
    width: 30px;
    height: 30px;
    background-image: url(/assets/icons/apple-google/Apple-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.guitar-principal
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.principal_guitarrs
{
    width: 85%;   
    justify-content: center;
    margin-bottom: 30px;
    margin-bottom: 130px;
}

.guitarrs-title
{
    width: 100%;
    height: 80px;
    font-size: 3.8rem;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin-bottom: 60px;
}


.guitarrs-subTitle
{
    grid-column: 1 / 2;
    justify-self: self-start;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.guitarrs-viewAll
{
    grid-column: 3 / 4;
    justify-self: self-end;
    margin-bottom: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--gray-dark_guitar);
}

.guitarrs-grid
{
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    justify-items: center;
    margin-bottom: 60px;
}

.guitar-img
{
    width: 260px;
}

.guitar_title
{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black_guitar);
    margin-bottom: 8px;
}

.guitar_price
{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray_guitar);
}

.principal_cards
{
    width: 85%;
    height: 400px;
    display: grid;
    grid-template-rows: 120px 300px;
    align-items: center;
    margin-bottom: 130px;
}

.cards_guitarrs
{
    display: flex;
    justify-content: space-around;
}

.card_categories
{
    width: 180px;
    height: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
}

.card_acusticas
{
    background-image: url(/assets/images/acusticas.jpg);
}

.card_electricas
{
    background-image: url(/assets/images/electricas.jpg);
}

.card_bajos
{
    background-image: url(/assets/images/bajos.jpg);
}

.card_colecciones
{
    background-image: url(/assets/images/colecciones.jpg);
}

.guitar-type
{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white);
}

.principal_brands
{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

.brands_guitarrs
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 130px);    
}

.brands
{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-self: center;

}

.brandG1
{
    background-image: url(/assets/icons/business-guitars/fender.svg);
}

.brandG2
{
    background-image: url(/assets/icons/business-guitars/gibson.svg);
}

.brandG3
{
    background-image: url(/assets/icons/business-guitars/ibanez.svg);
}

.brandG4
{
    background-image: url(/assets/icons/business-guitars/taylor.svg);
}

.brandG5
{
    background-image: url(/assets/icons/business-guitars/gretsch.svg);
}

.brandG6
{
    background-image: url(/assets/icons/business-guitars/takamine.svg);
}

.brandG7
{
    background-image: url(/assets/icons/business-guitars/martin&co.svg);
}

.brandG8
{
    background-image: url(/assets/icons/business-guitars/seagull.svg);
}

.principal_why
{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black_guitar);
}

.why_title
{
    
    color: var(--white);
    margin-bottom: 60px;
}

.why_probar
{
    display: flex;
    justify-content: center;    
}

.why_options
{
    width: 33.33%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.why-iconItem
{    
    width: 70px;
    height: 70px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: var(--gray-guitar-dark);
    border-radius: 20px;
}

.why_icon
{     
    width: 30px;
    height: 30px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
}

.why_menu
{
    background-image: url(/assets/icons/menu.svg);
}

.why_truck
{
    background-image: url(/assets/icons/truck.svg);
}

.why_wall
{
    background-image: url(/assets/icons/empty-wallet-tick.svg);
}

.why-title
{
    font-size: 1.6rem;
    text-align: center;
    color: var(--white);
}

.why-parrafo
{    
    width: 65%;
    text-align: center;
    font-size: 1.4rem;
    color: var(--gray-dark_guitar);
}

.principal_feedback
{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback_coments
{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feedback_photo
{
    width: 300px;
    height: 300px;
    background-image: url(/assets/images/photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
    display: block;
}

.feedback_customer
{
    width: 470px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback_comentario
{
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--gray-dark_guitar);
}

.feedback_name
{
    font-size: 1.6rem;
    font-weight: bold;
}

.feedback_position
{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--gray-dark_guitar);
}

.principal_available
{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;

}

.available_android-ios
{    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.available_title
{
    font-size: 3.8rem;
    text-align: center;
}

.available_btns
{
    width: 80%;
    display: flex;    
    justify-content: space-around;
    align-items: center;
}


.available_android
{
    width: 190px;
    height: 100px;
    background-image: url(/assets/icons/apple-google/Mobile-google-store.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
    display: block;
}

.available_ios
{
    width: 190px;
    height: 65px;
    background-image: url(/assets/icons/apple-google/Mobile-app-store.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
    display: block;
}

.available_image
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.guitar-footer
{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #EEEEEE;
}

.footer_contact
{
    width:  80%;
    display: flex;   
    flex-direction: column;
    align-items: center;    
}

.footer_logo
{
    display: block;
    width: 130px;
    height: 60px;
    background-image: url(/assets/icons/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    justify-self: center;        
}

.footer_email-pin
{
    width: 68%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--gray-dark_guitar);
}

.footer_email-icon
{
    width: 20px;
    height: 20px;
    background-image: url(/assets/icons/sms.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  
    display: block;
    margin-right: 6px;
    margin-bottom: 6px;
}

.footer_pinMap-icon
{
    width: 20px;
    height: 20px;
    background-image: url(/assets/icons/location.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  
    margin-right: 6px;
    display: block;
}

.footer_links
{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.links_list
{
    list-style: none;
}

.footer-a
{
    font-size: 1.4rem;
    text-decoration: none;   
    color: var(--gray-dark_guitar);
}

.list-name
{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer_follow
{
    width: 72%;
    height: 60px;
}

.follow_networks
{
    width: 72%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
}

.follow_social
{
    width: 40px;
    height: 40px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    margin-right: 6px;
    display: block;
}

.f-instagram
{
    background-image: url(/assets/icons/Instagram.svg);
}

.f-twitter
{
    background-image: url(/assets/icons/Twitter.svg);
}

.f-github
{
    background-image: url(/assets/icons/github.png);
    width: 35px;
    height: 35px; 
}

.footer_year
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.4rem;
    color: var(--gray-dark_guitar);
}